<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <header>
            {% if site.logo %}
            <img src="https://qatoolkit.io/assets/logo.png" alt="Logo" />
            {% endif %}

            <p>{{ site.description | default: site.github.project_tagline }}</p>

            {% if site.github.is_project_page %}
            <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
            {% endif %}

            <h4>Components:</h4>
            <p><a href="https://github.com/qatoolkit/qatoolkit-source-swagger-net">QAToolKit.Source.Swagger</a></p>
            <p><a href="https://github.com/qatoolkit/qatoolkit-engine-bombardier-net">QAToolKit.Engine.Bombardier</a></p>
            <p><a href="https://github.com/qatoolkit/qatoolkit-engine-httptester-net">QAToolKit.Engine.HttpTester</a></p>
            <p><a href="https://github.com/qatoolkit/qatoolkit-engine-database-net">QAToolKit.Engine.Database</a></p>
            <p><a href="https://github.com/qatoolkit/qatoolkit-auth-net">QaToolKit.Auth</a></p>
            <p><a href="https://github.com/qatoolkit/qatoolkit-core-net">QAToolKit.Core</a></p>
        </header>
        <section>
            <iframe src="https://discord.com/widget?id=787220825127780354&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </section>
        <section>

            {{ content }}

        </section>
        <footer>
            {% if site.github.is_project_page %}
            <p>Maintainer: <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p>Logo by magnificent <a href="https://www.zetko.si/">Studio Žetko</a>.</p>
            <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% endif %}
</body>
</html>
